<div id="main_container">
    <!--幻灯片-->
    <div id="picarea">
        <div style="width: 700px; height: 320px; overflow: hidden" id="bigpicarea">
            <p class="bigbtnPrev">
                <span id="big_play_prev"></span>
            </p>
            <div id="image_xixi-01" class="image">
                <a href="#" target="_blank">
                    <img alt="" src="/Content/themes/images/image7.jpg"></a>
                <div class="word">
                    <h3>
                    </h3>
                </div>
            </div>
            <div id="image_xixi-02" class="image">
                <a href="#" target="_blank">
                    <img alt="" src="/Content/themes/images/image2.jpg"></a>
                <div class="word">
                    <h3>
                    </h3>
                </div>
            </div>
            <div id="image_xixi-03" class="image">
                <a href="#" target="_blank">
                    <img alt="" src="/Content/themes/images/image3.jpg"></a>
                <div class="word">
                    <h3>
                    </h3>
                </div>
            </div>
            <div id="image_xixi-04" class="image">
                <a href="#" target="_blank">
                    <img alt="" src="/Content/themes/images/image4.jpg"></a>
                <div class="word">
                    <h3>
                    </h3>
                </div>
            </div>
            <div id="image_xixi-05" class="image">
                <a href="#" target="_blank">
                    <img alt="" src="/Content/themes/images/image5.jpg"></a>
                <div class="word">
                    <h3>
                    </h3>
                </div>
            </div>
            <div id="image_xixi-06" class="image">
                <a href="#" target="_blank">
                    <img alt="" src="/Content/themes/images/image6.jpg"></a>
                <div class="word">
                    <h3>
                    </h3>
                </div>
            </div>
            <div id="image_xixi-07" class="image">
                <a href="#" target="_blank">
                    <img alt="" src="/Content/themes/images/image8.jpg"></a>
                <div class="word">
                    <h3>
                    </h3>
                </div>
            </div>
            <p class="bigbtnNext">
                <span id="big_play_next"></span>
            </p>
        </div>
        <div id="smallpicarea">
            <div id="thumbs">
                <ul>
                    <li class="slideshowItem"><a id="thumb_xixi-07" href="#">
                        <img src="/Content/themes/images/image7.jpg" width="90" height="60"></a> </li>
                    <li class="slideshowItem"><a id="thumb_xixi-02" href="#">
                        <img src="/Content/themes/images/image2.jpg" width="90" height="60"></a> </li>
                    <li class="slideshowItem"><a id="thumb_xixi-03" href="#">
                        <img src="/Content/themes/images/image3.jpg" width="90" height="60"></a> </li>
                    <li class="slideshowItem"><a id="thumb_xixi-04" href="#">
                        <img src="/Content/themes/images/image4.jpg" width="90" height="60"></a> </li>
                    <li class="slideshowItem"><a id="thumb_xixi-05" href="#">
                        <img src="/Content/themes/images/image5.jpg" width="90" height="60"></a> </li>
                    <li class="slideshowItem"><a id="thumb_xixi-06" href="#">
                        <img src="/Content/themes/images/image6.jpg" width="90" height="60"></a> </li>
                    <li class="last_img slideshowItem"><a id="thumb_xixi-07" href="#">
                        <img src="/Content/themes/images/image8.jpg" width="90" height="60"></a> </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            var target = ["xixi-01", "xixi-02", "xixi-03", "xixi-04", "xixi-05", "xixi-06", "xixi-07"];
        </script>
    </div>
    <!--在线首发-->
    <div class="mod_first">
        <div class="title">
            <h2>
                在线首发</h2>
        </div>
        <div class="mod_more">
            <a href="#" class="mod_more_link">更多</a>
        </div>
        <div class="mod_content">
            <div class="slide_content">
                <ul class="mod_first_list" id="divalbumlist">
                    <li><a href="/y/static/album/61/album_418361_1.html?pgv_ref=qqmusic.y.index.music.pic1"
                        class="mod_poster_130">
                        <img width="130" height="130" alt="2013 Grammy Nominees" title="2013 Grammy Nominees"
                            src="http://imgcache.qq.com/music/photo/album/61/150_albumpic_418361_0.jpg">
                        <span class="icon_play" onclick="g_trackServ.playAlbum(418361, 'music.play1');" onmouseover="this.className='icon_play icon_play_hover'"
                            onmouseout="this.className='icon_play'" title="播放"></span><span class="shadow">
                        </span><strong class="album_name " title="2013 Grammy Nominees">2013 Grammy Nominees</strong>
                        <strong class="album_singer " title="Various Artists">Various Artists</strong> </a>
                    </li>
                    <li><a href="/y/static/album/14/album_304214_1.html?pgv_ref=qqmusic.y.index.music.pic2"
                        class="mod_poster_130">
                        <img width="130" height="130" alt="I" title="I" src="http://imgcache.qq.com/music/photo/album/14/150_albumpic_304214_0.jpg">
                        <span class="icon_play" onclick="g_trackServ.playAlbum(304214, 'music.play2');" onmouseover="this.className='icon_play icon_play_hover'"
                            onmouseout="this.className='icon_play'" title="播放"></span><span class="shadow">
                        </span><strong class="album_name " title="I">I</strong> <strong class="album_singer "
                            title="金在中">金在中</strong> </a></li>
                    <li><a href="/y/static/album/39/album_303739_1.html?pgv_ref=qqmusic.y.index.music.pic3"
                        class="mod_poster_130">
                        <img width="130" height="130" alt="Catch Me - If you wanna" title="Catch Me - If you wanna"
                            src="http://imgcache.qq.com/music/photo/album/39/150_albumpic_303739_0.jpg">
                        <span class="icon_play" onclick="g_trackServ.playAlbum(303739, 'music.play3');" onmouseover="this.className='icon_play icon_play_hover'"
                            onmouseout="this.className='icon_play'" title="播放"></span><span class="shadow">
                        </span><strong class="album_name " title="Catch Me - If you wanna">Catch Me - If you
                            wanna</strong> <strong class="album_singer " title="东方神起">东方神起</strong> </a>
                    </li>
                    <li><a href="/y/static/album/69/album_418369_1.html?pgv_ref=qqmusic.y.index.music.pic4"
                        class="mod_poster_130">
                        <img width="130" height="130" alt="Dreamchaser" title="Dreamchaser" src="http://imgcache.qq.com/music/photo/album/69/150_albumpic_418369_0.jpg">
                        <span class="icon_play" onclick="g_trackServ.playAlbum(418369, 'music.play4');" onmouseover="this.className='icon_play icon_play_hover'"
                            onmouseout="this.className='icon_play'" title="播放"></span><span class="shadow">
                        </span><strong class="album_name " title="Dreamchaser">Dreamchaser</strong> <strong
                            class="album_singer " title="Sarah Brightman">Sarah Brightman</strong> </a>
                    </li>
                    <li><a href="/y/static/album/17/album_304517_1.html?pgv_ref=qqmusic.y.index.music.pic5"
                        class="mod_poster_130">
                        <img width="130" height="130" alt="LONG.LIVE.A$AP (Deluxe Version)" title="LONG.LIVE.A$AP (Deluxe Version)"
                            src="http://imgcache.qq.com/music/photo/album/17/150_albumpic_304517_0.jpg">
                        <span class="icon_play" onclick="g_trackServ.playAlbum(304517, 'music.play5');" onmouseover="this.className='icon_play icon_play_hover'"
                            onmouseout="this.className='icon_play'" title="播放"></span><span class="shadow">
                        </span><strong class="album_name " title="LONG.LIVE.A$AP (Deluxe Version)">LONG.LIVE.A$AP
                            (Deluxe Version)</strong> <strong class="album_singer " title="A$AP Rocky">A$AP Rocky</strong>
                    </a></li>
                    <li><a href="/y/static/album/21/album_198821_1.html?pgv_ref=qqmusic.y.index.music.pic6"
                        class="mod_poster_130">
                        <img width="130" height="130" alt="我的归属" title="我的归属" src="http://imgcache.qq.com/music/photo/album/21/150_albumpic_198821_0.jpg">
                        <span class="icon_play" onclick="g_trackServ.playAlbum(198821, 'music.play6');" onmouseover="this.className='icon_play icon_play_hover'"
                            onmouseout="this.className='icon_play'" title="播放"></span><span class="shadow">
                        </span><strong class="album_name " title="我的归属">我的归属</strong> <strong class="album_singer "
                            title="莫文蔚">莫文蔚</strong> </a></li>
                    <li><a href="/y/static/album/49/album_304949_1.html?pgv_ref=qqmusic.y.index.music.pic7"
                        class="mod_poster_130">
                        <img width="130" height="130" alt="Arc (Deluxe Version)" title="Arc (Deluxe Version)"
                            src="http://imgcache.qq.com/music/photo/album/49/150_albumpic_304949_0.jpg">
                        <span class="icon_play" onclick="g_trackServ.playAlbum(304949, 'music.play7');" onmouseover="this.className='icon_play icon_play_hover'"
                            onmouseout="this.className='icon_play'" title="播放"></span><span class="shadow">
                        </span><strong class="album_name " title="Arc (Deluxe Version)">Arc (Deluxe Version)</strong>
                        <strong class="album_singer " title="Everything Everything">Everything Everything</strong>
                    </a></li>
                    <li><a href="/y/static/album/67/album_205767_1.html?pgv_ref=qqmusic.y.index.music.pic8"
                        class="mod_poster_130">
                        <img width="130" height="130" alt="单身极品" title="单身极品" src="http://imgcache.qq.com/music/photo/album/67/150_albumpic_205767_0.jpg">
                        <span class="icon_play" onclick="g_trackServ.playAlbum(205767, 'music.play8');" onmouseover="this.className='icon_play icon_play_hover'"
                            onmouseout="this.className='icon_play'" title="播放"></span><span class="shadow">
                        </span><strong class="album_name " title="单身极品">单身极品</strong> <strong class="album_singer "
                            title="安心亚">安心亚</strong> </a></li>
                    <li><a href="/y/static/album/18/album_304518_1.html?pgv_ref=qqmusic.y.index.music.pic9"
                        class="mod_poster_130">
                        <img width="130" height="130" alt="欣 进化" title="欣 进化" src="http://imgcache.qq.com/music/photo/album/18/150_albumpic_304518_0.jpg">
                        <span class="icon_play" onclick="g_trackServ.playAlbum(304518, 'music.play9');" onmouseover="this.className='icon_play icon_play_hover'"
                            onmouseout="this.className='icon_play'" title="播放"></span><span class="shadow">
                        </span><strong class="album_name " title="欣 进化">欣 进化</strong> <strong class="album_singer "
                            title="许慧欣">许慧欣</strong> </a></li>
                    <li><a href="/y/static/album/42/album_304242_1.html?pgv_ref=qqmusic.y.index.music.pic10"
                        class="mod_poster_130">
                        <img width="130" height="130" alt="完美先生" title="完美先生" src="http://imgcache.qq.com/music/photo/album/42/150_albumpic_304242_0.jpg">
                        <span class="icon_play" onclick="g_trackServ.playAlbum(304242, 'music.play10');"
                            onmouseover="this.className='icon_play icon_play_hover'" onmouseout="this.className='icon_play'"
                            title="播放"></span><span class="shadow"></span><strong class="album_name " title="完美先生">
                                完美先生</strong> <strong class="album_singer " title="宥胜">宥胜</strong> </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="slid_container">
    <!--rank begin-->
    @{Html.RenderAction("Rank", "Common");}
    <!--rank end-->
</div>
