<script type="text/javascript">
    $(function () {
        var $li = $("ul li:eq(0)");
        $li.attr("class","firstmenu");
        //var litext = $li.text();
        //alert(litext); 
    })
   
</script>

<div class="bar">
    <ul class="nav">
        <li><a href="../Home/Index">Home</a></li>
        <li><a href="../Singer/Index">Singer</a></li>
        <li><a href="../Album/Index">Albums</a></li>
        <li><a href="#">Top</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Mircblog</a></li>
        <li><a href="#">DJmusic</a></li>
    </ul>
   
        <form action="#" method="get" class="search_form">
            <input type="text" name="s" class="txtsearch" placeholder="Please input keyword" autofocus x-webkit-speech>
            <input type="submit" value="搜索" class="btnsearch">
        </form>
     
 
</div>
